.book-card__annotation-container {
  position: relative;
  bottom: 0;
  height: 100%;
  width: 86%;
  padding-left: 20px;
  line-height: 24px;
  font-size: 15px;
}

.book-card__annotation-container-title {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.book-card__annotation-container-report {
  font-size: 12px;
  opacity: 0.3;
  font-weight: bolder;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .book-card__annotation-container {
    width: 980px;
  }

  .book-card__annotation-container-title {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bolder;
  }

  .book-card__annotation-container-report {
    font-size: 12px;
    opacity: 0.3;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .book-card__annotation-container {
      width: 740px;
    }

    @media (min-width: 320px) and (max-width: 460px) {
      .book-card__annotation-container {
        position: static;
        margin-left: 10px;
        width: 280px;
        height: 100%;
        margin-bottom: 0;
      }

      .book-card__annotation-container-text {
        font-size: 11px;
      }

      .book-card__annotation-container-title {
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: bolder;
      }

      .book-card__annotation-container-report {
        font-size: 12px;
        opacity: 0.3;
        font-weight: bolder;
        margin-bottom: 20px;
      }
    }
  }
}
