.book-card__annotation-container {
  position: relative;

  margin-bottom: 2vh;

  width: 86%;
  height: auto;

  line-height: 24px;
  font-size: 15px;
}

.book-card__annotation-container-title {
  padding-bottom: 10px;

  font-size: 18px;
  font-weight: bolder;
}

.book-card__annotation-container-report {
  font-size: 14px;
  font-weight: bolder;

  opacity: 0.3;
}

@media (width < 775px) {
  .book-card__annotation-container {
    font-size: 12px;
  }
}

@media (width > 320px) and (width < 465px) {
  .book-card__annotation-container {
    margin: 0 auto 0 auto;
    width: 80%;
  }

  .book-card__annotation-container-text {
    font-size: 12px;
  }

  .book-card__annotation-container-report {
    text-align: left;
  }
}
