.book-card__delivery-container {
  position: relative;

  margin-top: 2vh;

  width: 100%;
  height: 30%;
}

.book-card__delivery-container__shipping-methods {
  padding-bottom: 14px;

  font-size: 16px;
  font-weight: 600;
}

.book-card__delivery-container__shops-place {
  color: rgb(34, 145, 209);

  cursor: pointer;
}

.book-card__delivery-container__shops {
  position: relative;

  margin-bottom: 1vh;
}

.book-card__delivery-container__shops-place {
  padding-bottom: 15px;

  font-size: 14px;
}

.book-card__delivery-container__shops-cost {
  position: absolute;

  right: 0;

  font-weight: bold;
}

.book-card__delivery-container__shops-date {
  font-size: 12px;
}

.book-card__delivery-container__place-of-receipt {
  font-size: 15px;
  padding-bottom: 15px;
}

.book-card__delivery-container__shops-over {
  font-size: 12px;
  color: red;
}

.book-card__delivery-container__shops-orders {
  font-size: 12px;
}

@media (width < 1025px) {
  .book-car__delivery-container__shipping-methods,
  .book-card__delivery-container__shops,
  .book-card__delivery-container__сourier,
  .book-card__delivery-container__сourier-cost {
    font-size: 12px;
  }

  .book-card__delivery-container__shops-cost-date,
  .book-card__delivery-container__place-of-receipt {
    font-size: 10px;
  }

  .book-card__delivery-container__сourier-cost {
    padding-left: 150px;
  }

  .book-card__delivery-container__сourier-over,
  .book-card__delivery-container__сourier-orders {
    font-size: 11px;
  }
}

@media (width < 775px) {
  .book-card__delivery-container__shipping-methods,
  .book-car__delivery-container__shipping-methods,
  .book-card__delivery-container__shops,
  .book-card__delivery-container__сourier,
  .book-card__delivery-container__сourier-cost,
  .book-card__delivery-container__shops-place {
    font-size: 10px;
  }

  .book-card__delivery-container__shops-cost-date,
  .book-card__delivery-container__place-of-receipt {
    font-size: 8px;
  }

  .book-card__delivery-container__сourier-over,
  .book-card__delivery-container__сourier-orders {
    font-size: 11px;
  }
}

@media (width > 320px) and (width < 465px) {
  .book-car__delivery-container {
    width: 100%;
  }

  .book-card__delivery-container__shops {
    text-align: left;
  }
}
