.book-card__trade {
  position: relative;

  width: 18vw;
  height: 30%;

  text-align: center;

  border-radius: 15px;
  background-color: #78f0cc;
}

.book-card__trade-price {
  display: flex;

  padding-top: 4vh;

  width: 100%;

  justify-content: space-around;

  font-size: 24px;
  font-weight: bolder;
}

.book-card__trade-availability {
  padding-top: 12px;

  font-size: 14px;
  font-weight: normal;
}

.book-card__trade-buy button {
  margin-top: 1vh;

  width: 80%;
  height: 50px;

  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;

  color: white;
  background-color: #6d6d6d;
  cursor: pointer;
}

.book-card__trade-buy:active button {
  border: 2px solid rgb(0, 0, 0);

  color: rgb(0, 0, 0);
  background-color: rgb(177, 177, 177);
}

@media (max-width: 1000px) {
  .book-card__trade {
    width: 250px;
    height: 170px;
  }

  .book-card__trade-price {
    position: relative;
    margin: 0;

    padding: 20px 0 0 35px;

    font-size: 18px;
    font-weight: bolder;
  }

  .book-card__trade-availability {
    position: relative;
    margin: 0;

    padding: 12px 0 0 0;
    font-size: 14px;
  }

  .book-card__trade-buy button {
    width: 200px;
    height: 50px;

    font-size: 18px;
  }

  @media (max-width: 768px) {
    .book-card__trade {
      width: 250px;
      height: 170px;
    }

    @media (min-width: 320px) and (max-width: 460px) {
      .book-card__trade {
        position: static;
        margin-left: 50px;
        width: 220px;
      }
    }
  }
}
