
.trade_container {
  text-align: center;
  background-color: rgb(120, 240, 204, 0.3);

  position: relative;
  left: 950px;
  bottom: 745px;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}

.book_price {
  margin: 0 0 0 20px;
  display: flex;
  padding-top: 45px;
  padding-left: 10px;

  font-size: 25px;
  font-weight: bolder;
}

.availability {
  padding-top: 12px;
  padding-left: 95px;

  font-size: 14px;
  font-weight: normal;
}

.book_buy button {
  background-color: rgb(120, 240, 204);
  width: 250px;
  height: 50px;

  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.book_buy:active button {
  color: white;
  border: 3px solid rgb(0, 0, 0);
  background: linear-gradient(top, rgb(255, 255, 255), rgb(122, 240, 205) 90%);
  background: -webkit-linear-gradient(top, rgb(44, 247, 186), rgb(61, 129, 109) 90%);
}

.book_marks button {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 40px;
  margin: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.book_marks:active button {
  color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
  background: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255) 90%);
  background: -webkit-linear-gradient(top, rgb(131, 130, 130), rgb(71, 71, 71) 90%);
}
