.shopping-cart-container {
  margin: 100px auto 20px auto;
  padding: 0 40px;

  width: 1200px;

  text-align: center;
  min-height: calc(100vh - 60px);
}

.shopping-cart-container__info {
  display: flex;

  justify-content: space-between;

  border-bottom: 2px solid rgb(0, 0, 0);
}

.shopping-cart-container__info-quantity {
  font-size: 18px;
  font-weight: bolder;
}

.shopping-cart-container__info-total-price {
  font-weight: bolder;
}

.shopping-cart-container__info-remove-all {
  cursor: pointer;
}

.shopping-cart-container__info-remove-all-icon {
  padding-right: 0.5vw;
}

.shopping-cart-container__book {
  position: relative;
}

.shopping-cart-container__book-empty {
  margin: 10vh;

  font-size: 24px;
  font-weight: bold;
}

@media (width < 1025px) {
  .shopping-cart-container {
    width: 1000px;
    padding: 0 20px;
  }

  .shopping-cart-container__info-quantity {
    font-size: 18px;
  }
}

@media (width < 775px) {
  .shopping-cart-container {
    width: 768px;
  }
}

@media (width > 320px) and (width < 465px) {
  .shopping-cart-container {
    width: calc(100px + 1220 * (100vw / 1920));

    padding: 0 5px;
  }

  .shopping-cart-container__info-quantity {
    font-size: 12px;
  }

  .shopping-cart-container__info-total-price,
  .shopping-cart-container__info-remove-all {
    font-size: 10px;
  }

  .shopping-cart-container__book-empty {
    font-size: 20px;
  }
}
