.all-books-container {
  margin-top: 100px;

  max-width: 100%;
  min-width: 100%;
  min-height: calc(100vh - 70px);

  text-align: center;
}

.all-books-container-category-name {
  margin: 2vh auto 3vh auto;
  
  font-size: 24px;
  font-weight: bolder;
}

.all-books-container__card {
  display: inline-block;

  margin: 0 10px 40px 10px;

  width: 200px;
  text-align: left;
}

.all-books-container__card__background {
  margin-bottom: 5px;
  height: 340px;

  box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 10%);
  background-color: #fff;
}

.all-books-container__card__background-img {
  width: 100%;
  height: 92%;

  border-bottom: 2px dashed black;
}

.all-books-container__card__info {
  position: relative;

  text-align: center;

  font-size: 16px;
  font-weight: bolder;
  color: #ffd700;
}

.all-books-container__card__info-rating,
.all-books-container__card__info-price {
  margin: 0 16px;
}

.all-books-container__card-author {
  font-size: 14px !important;
}

.all-books-container__card-book-name {
  display: flex;

  word-wrap: break-word;

  font-size: 16px !important;
  font-weight: bolder;
}

@media (min-width: 320px) and (max-width: 460px) {
  .all-books-container__card {
    margin: 0 10px 20px 10px;
    width: 120px;
  }

  .all-books-container__card__background-img {
    width: 120px;
    height: 210px;
  }

  .all-books-container__card__background {
    margin-bottom: 5px;
    height: 240px;
  }

  .all-books-container__card__info {
    font-size: 14px;
  }

  .all-books-container__card-author {
    font-size: 10px !important;
  }

  .all-books-container__card-book-name {
    font-size: 12px !important;
  }
}
