.all-books-container {
  text-align: center;
  max-width: 100%;
  min-width: 100%;
  margin-top: 100px;
  min-height: calc(100vh - 70px);
}

.all-books-container__card {
  display: inline-block;
  width: 200px;
  margin: 0 10px 50px 10px;
  text-align: left;
}

.all-books-container__card__background {
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 10%);
  margin-bottom: 5px;
  height: 340px;
}

.card_list_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 16px;
  color: #ffd700;
  font-weight: bolder;
}

.card_list_author {
  font-size: 14px !important;
}

.card_list_name {
  display: flex;
  font-size: 16px !important;
  font-weight: bolder;
  word-wrap: break-word;
}


@media (min-width: 320px) and (max-width: 460px) {
  .book_list_card {
    width: 120px;
    margin: 0 10px 20px 10px;
  }

  .all-books-container__card__background-img {
    width: 120px;
    height: 210px;
  }

  .card_list_settings {
    margin-bottom: 5px;
    height: 240px;
  }

  .card_list_info {
    font-size: 14px;
  }

  .card_list_author {
    font-size: 10px !important;
  }

  .card_list_name {
    font-size: 12px !important;
  }
}
