.book_page_container {
  border: 5px solid;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 70px);
  width: 1280px;
  height: 100%;
}

.main_image {
  height: 600px;
  width: 400px;

  image-rendering: auto;
  margin: 20px;
}

/* ------------- book_description ------------- */

.book_description {
  position: relative;
  left: 450px;
  bottom: 625px;

  width: 723px;
  height: 120px;
}

.book_name {
  width: 430px;
  left: 20px;
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
}

.book_author {
  font-weight: normal;
  font-size: 18px;
}

.book_rating {
  position: absolute;
  color: #000000;
  font-size: 20px;
  display: flex;
  top: 90px;
  left: 47px;
}

.ratingContainer {
  position: absolute;
  top: 90px;
}

.star {
  bottom: 50px;
  font-size: 33px;
  color: #ffd700;
  position: absolute;
  top: 73px;
  left: 17px;
}

.reviews_number {
  position: absolute;
  font-size: 14px;
  width: 120px;
  top: 95px;
  left: 110px;
}

.rating_area {
  overflow: hidden;
  width: 265px;
  position: absolute;
  top: 80px;
  left: 140px;
  margin: 0 auto;
}

.rating_area:not(:checked) > input {
  display: none;
}

.rating_area:not(:checked) > label {
  float: right;
  width: 35px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating_area:not(:checked) > label:before {
  content: '★';
}

.rating_area > input:checked ~ label {
  color: #ffd700;
  text-shadow: 1px 1px #c60;
}

.rating_area:not(:checked) > label:hover,
.rating_area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating_area > input:checked + label:hover,
.rating_area > input:checked + label:hover ~ label,
.rating_area > input:checked ~ label:hover,
.rating_area > input:checked ~ label:hover ~ label,
.rating_area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rating_area > label:active {
  position: relative;
}

/* ------------- trade_container ------------- */

.trade_container {
  text-align: center;
  background-color: rgb(120, 240, 204, 0.3);

  position: relative;
  left: 950px;
  bottom: 745px;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}

.book_price {
  margin: 0 0 0 20px;
  display: flex;
  padding-top: 45px;
  padding-left: 10px;

  font-size: 25px;
  font-weight: bolder;
}

.availability {
  padding-top: 12px;
  padding-left: 95px;

  font-size: 14px;
  font-weight: normal;
}

.book_buy button {
  background-color: rgb(120, 240, 204);
  width: 250px;
  height: 50px;

  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.book_buy:active button {
color: white;
border: 3px solid rgb(0, 0, 0);
background: linear-gradient(top, rgb(255, 255, 255), rgb(122, 240, 205) 90%);
background: -webkit-linear-gradient(top, rgb(44, 247, 186), rgb(61, 129, 109) 90%);
}

.book_marks button {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 40px;
  margin: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.book_marks:active button {
color: rgb(255, 255, 255);
border: 3px solid rgb(0, 0, 0);
background: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255) 90%);
background: -webkit-linear-gradient(top, rgb(131, 130, 130), rgb(71, 71, 71) 90%);
}

/* ------------- delivery ------------- */

.delivery {
  position: relative;
  left: 955px;
  bottom: 730px;
  width: 300px;
  height: 200px;
}

.shipping_methods {
  font-size: 13px;
  padding-bottom: 15px;
}

.city_name {
  color: rgb(34, 145, 209);
  cursor: pointer;
}

.book_shop {
  font-size: 15px;
  padding-bottom: 15px;
}

.shipping_cost {
  font-weight: bold;
  padding-left: 40px;
}

.delivery_date {
  font-size: 12px;
}

.place_receipt {
  font-size: 15px;
  padding-bottom: 15px;
}

.сourier_cost {
  font-weight: bold;
  padding-left: 176px;
}

.сourier_cost_over {
  font-size: 12px;
  color: red;
}

.orders_over {
  font-size: 12px;
}

/* ------------- annotation ------------- */

.annotation {
  position: relative;
  bottom: 0;
  max-height: 460px;
  width: 1100px;
  top: -500px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 15px;
}

.annotation_name {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.annotation_report {
  font-size: 12px;
  opacity: 0.3;
  font-weight: bolder;
  margin-bottom: 20px;
}

/* ------------- recommendations ------------- */

.recommendations {
  position: relative;
  top: -500px;
  margin: auto;

  width: 1200px;
  height: 500px;
}

.slider_name {
  color: rgb(120, 240, 204);
  font-size: 24px;
  cursor: pointer;
}

.slider_book {
  margin: 0 40px;
  width: 150px !important;
  height: 420px;
  text-align: left;
  padding-top: 45px;
  cursor: pointer;
}

.slider_book:hover {
  transform: scale(1.2);
}

.slider_card_settings {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 13px rgb(0 0 0 / 30%), 0 5px 10px rgb(0 0 0 / 20%);
  margin-bottom: 5px;
  pointer-events: none;
}

.slider_card_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


  font-size: 13px;
  color: #ffd900;
  font-weight: bolder;
}

.slider_price {
  padding-top: 3px;
}

.slider_book_author {
  font-size: 12px;
}

.slider_book_name {
  display: flex;
  width: 150px;
  font-size: 15px;
  font-weight: bolder;
  word-wrap: break-word;
}

.slick-prev,
.slick-next {
  height: 380px;
  z-index: 289;
  width: 35px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.slick-arrow:before{
  font-size: 26px;
  color: rgb(0, 0, 0);
}

.slick-prev:hover,
.slick-next:hover {
  height: 380px;
  background-color: rgb(120, 240, 204);
}
