.book_page_container {
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 70px);
  margin-top: 100px;
  width: 1280px;
  height: 100%;
}

.main_image {
  height: 600px;
  width: 400px;

  image-rendering: auto;
  margin: 20px;
}

/* ------------- book_description ------------- */

.book_description {
  position: relative;
  left: 450px;
  bottom: 625px;

  width: 723px;
  height: 120px;
}

.book_name {
  width: 430px;
  left: 20px;
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
}

.book_author {
  font-weight: normal;
  font-size: 18px;
}

.book_rating {
  position: absolute;
  color: #000000;
  font-size: 20px;
  display: flex;
  top: 90px;
  left: 47px;
}

.ratingContainer {
  position: absolute;
  top: 90px;
}

.star {
  bottom: 50px;
  font-size: 33px;
  color: #ffd700;
  position: absolute;
  top: 73px;
  left: 17px;
}

.reviews_number {
  position: absolute;
  font-size: 14px;
  width: 120px;
  top: 95px;
  left: 110px;
}

.rating_area {
  overflow: hidden;
  width: 265px;
  position: absolute;
  top: 80px;
  left: 140px;
  margin: 0 auto;
}

.rating_area:not(:checked) > input {
  display: none;
}

.rating_area:not(:checked) > label {
  float: right;
  width: 35px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 30px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating_area:not(:checked) > label:before {
  content: '★';
}

.rating_area > input:checked ~ label {
  color: #ffd700;
  text-shadow: 1px 1px #c60;
}

.rating_area:not(:checked) > label:hover,
.rating_area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating_area > input:checked + label:hover,
.rating_area > input:checked + label:hover ~ label,
.rating_area > input:checked ~ label:hover,
.rating_area > input:checked ~ label:hover ~ label,
.rating_area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rating_area > label:active {
  position: relative;
}

/* ------------- trade_container ------------- */

.trade_container {
  text-align: center;
  background-color: rgb(120, 240, 204, 0.3);

  position: relative;
  left: 950px;
  bottom: 745px;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}

.book_price {
  margin: 0 0 0 20px;
  display: flex;
  padding-top: 45px;
  padding-left: 10px;

  font-size: 25px;
  font-weight: bolder;
}

.availability {
  padding-top: 12px;
  padding-left: 95px;

  font-size: 14px;
  font-weight: normal;
}

.book_buy button {
  background-color: rgb(120, 240, 204);
  width: 250px;
  height: 50px;

  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.book_buy:active button {
  color: white;
  border: 3px solid rgb(0, 0, 0);
  background: linear-gradient(top, rgb(255, 255, 255), rgb(122, 240, 205) 90%);
  background: -webkit-linear-gradient(top, rgb(44, 247, 186), rgb(61, 129, 109) 90%);
}

.book_marks button {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 40px;
  margin: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.book_marks:active button {
  color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
  background: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255) 90%);
  background: -webkit-linear-gradient(top, rgb(131, 130, 130), rgb(71, 71, 71) 90%);
}

/* ------------- delivery ------------- */

.delivery {
  position: relative;
  left: 955px;
  bottom: 730px;
  width: 300px;
  height: 200px;
}

.shipping_methods {
  font-size: 13px;
  padding-bottom: 15px;
}

.city_name {
  color: rgb(34, 145, 209);
  cursor: pointer;
}

.book_shop {
  font-size: 15px;
  padding-bottom: 15px;
}

.shipping_cost {
  font-weight: bold;
  padding-left: 40px;
}

.delivery_date {
  font-size: 12px;
}

.place_receipt {
  font-size: 15px;
  padding-bottom: 15px;
}

.сourier_cost {
  font-weight: bold;
  padding-left: 176px;
}

.сourier_cost_over {
  font-size: 12px;
  color: red;
}

.orders_over {
  font-size: 12px;
}

/* ------------- annotation ------------- */

.annotation {
  position: relative;
  bottom: 0;
  height: 100%;
  width: 1100px;
  top: -500px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 15px;
}

.annotation_name {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.annotation_report {
  font-size: 12px;
  opacity: 0.3;
  font-weight: bolder;
  margin-bottom: 20px;
}

/* ------------- recommendations ------------- */

.recommendations {
  position: relative;
  top: -500px;
  margin: auto;

  width: 1200px;
  height: 500px;
}

.slider_link {
  pointer-events: visiblePainted;
}

.slider_name {
  color: rgb(120, 240, 204);
  font-size: 24px;
  cursor: pointer;
}

.slider_book {
  margin: 0 40px;
  width: 150px !important;
  height: 420px;
  text-align: left;
  padding-top: 45px;
  cursor: pointer;
}

.slider_book:hover {
  transform: scale(1.2);
}

.slider_card_settings {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 13px rgb(0 0 0 / 30%), 0 5px 10px rgb(0 0 0 / 20%);
  margin-bottom: 5px;
}

.slider_card_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 13px;
  color: #ffd900;
  font-weight: bolder;
}

.slider_price {
  padding-top: 3px;
}

.slider_book_author {
  font-size: 12px;
}

.slider_book_name {
  display: flex;
  width: 150px;
  font-size: 15px;
  font-weight: bolder;
  word-wrap: break-word;
}

.slick-prev,
.slick-next {
  height: 380px;
  z-index: 289;
  width: 35px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.slick-arrow:before {
  font-size: 26px;
  color: rgb(0, 0, 0);
}

.slick-prev:hover,
.slick-next:hover {
  height: 380px;
  background-color: rgb(120, 240, 204);
}

/* ------------- reviews------------- */

.reviews {
  position: relative;
  bottom: 500px;
  font-size: 40px;
}

.comment_generate {
  height: 570px;
}

.recall_button {
  background-color: rgb(120, 240, 204);
  width: 1280px;
  height: 50px;

  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.recall_button:active {
  color: white;
  border: 3px solid rgb(0, 0, 0);
  background: linear-gradient(top, rgb(255, 255, 255), rgb(122, 240, 205) 90%);
  background: -webkit-linear-gradient(top, rgb(44, 247, 186), rgb(61, 129, 109) 90%);
}

.close_write_box {
  position: relative;

  left: 1225px;
  top: 20px;
  cursor: pointer;
  z-index: 1;
}

.write_review_box {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(120, 240, 204, 0.5);
  z-index: 0;
}

.write_review_name {
  position: relative;
  bottom: 45px;
  padding: 20px 0 20px 20px;
}

.writer_review_name {
  font-size: 20px;
  padding-right: 31px;
}

.write_name_input {
  width: 250px;
  height: 30px;

  color: black;
  border-radius: 5px;
  border: 1px solid;
}

.text_title {
  position: relative;
  bottom: 45px;
  padding: 20px 0 20px 20px;
}

.text_title_name {
  font-size: 20px;
  padding-right: 122px;
}

.text_title_input {
  width: 1020px;
  height: 30px;
  color: black;
  border-radius: 5px;
  border: 1px solid;
}

.comment {
  position: relative;
  bottom: 45px;
  padding: 20px 0 20px 20px;
  z-index: 0;
}

.comment_name {
  position: relative;
  font-size: 20px;
  bottom: 165px;
  padding-right: 91px;
}

.comment_name_area {
  width: 1020px;
  height: 300px;
  font-size: 16px;

  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid;
  resize: none;
}

.total_characters {
  position: relative;
  bottom: 75px;
  font-size: 15px;
  text-align: right;
  padding-right: 25px;
  z-index: 0;
}

.input_check {
  position: relative;
  font-size: 24px;
  margin-left: 20px;
  bottom: 45px;
  color: red;
}

.submit_button {
  position: relative;
  bottom: 65px;
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 30px;
  margin: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.submit_button:active {
  color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
  background: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255) 90%);
  background: -webkit-linear-gradient(top, rgb(131, 130, 130), rgb(71, 71, 71) 90%);
}

/* ------------- recall_box------------- */

.recall_box {
  border: 2px solid;
  border-radius: 12px;
  margin: 20px auto;
  width: 99%;
  padding-bottom: -100px;
}

.reacall_box_delete {
  position: relative;
  top: 5px;
  width: 40px;
  left: 1220px;
  z-index: 1;
  cursor: pointer;
}

.recall_box_time {
  position: relative;
  bottom: 40px;
  font-size: 14px;
  opacity: 0.4;
  font-weight: b;
  padding: 15px 0 0 20px;
  z-index: 0;
}
.recal_comment_topic {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 20px 10px 20px;
  bottom: 40px;
}

.recall_box_text {
  position: relative;
  width: 300px;
  bottom: 40px;
  width: 1225px;
  text-align: left;
  font-size: 16px;
  margin: 10px 20px 10px 20px;
  white-space: pre-line;
}

.recall_box_area {
  position: relative;
  width: 300px;
  height: 300px;
  bottom: 40px;
  width: 1225px;
  text-align: left;
  font-size: 16px;
  overflow-x: hidden;
  margin: 10px 20px 10px 20px;
  resize: none;
}

.recal_writer_name {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  bottom: 50px;
  padding-right: 25px;
  z-index: 0;
}

.edit_recall button {
  position: relative;
  z-index: 1;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .book_page_container {
    width: 980px;
  }

  .main_image {
    height: 500px;
    width: 300px;
    margin: 20px;
  }

  .book_description {
    left: 420px;
    bottom: 525px;

    width: 0px;
    height: 120px;
    z-index: 0;
  }

  .book_name {
    width: 350px;
    left: -40px;
    font-size: 20px;
  }

  .book_author {
    font-size: 13px;
  }

  .star {
    bottom: 50px;
    font-size: 26px;
    top: 76px;
    left: -42px;
  }

  .book_rating {
    font-size: 14px;
    top: 90px;
    left: -17px;
  }

  .reviews_number {
    font-size: 11px;
    width: 120px;
    top: 95px;
    left: 20px;
  }

  .rating_area {
    width: 265px;
    top: 82px;
    left: 0px;
    margin: 0 auto;
  }

  .rating_area:not(:checked) > label {
    float: right;
    width: 32px;
    padding: 0;
    cursor: pointer;
    font-size: 28px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }

  .trade_container {
    left: 720px;
    bottom: 645px;
    width: 250px;
    height: 170px;
  }

  .book_price {
    position: relative;
    top: 9px;
    left: 0px;
    margin: 0;

    padding: 20px 0 0 35px;

    font-size: 18px;
    font-weight: bolder;
  }

  .availability {
    position: relative;
    top: -8px;
    left: 55px;
    margin: 0;

    padding: 12px 0 0 0;
    font-size: 14px;
  }

  .book_buy button {
    width: 200px;
    height: 50px;

    font-size: 18px;
  }

  .book_marks button {
    width: 200px;
    height: 30px;
    margin: 5px 10px;

    font-size: 12px;
  }

  .delivery {
    left: 720px;
    bottom: 630px;
    width: 245px;
    height: 200px;
  }

  .shipping_methods {
    font-size: 10px;
  }

  .book_shop {
    font-size: 12px;
  }

  .shipping_cost {
    font-weight: bold;
  }

  .delivery_date {
    font-size: 11px;
  }

  .place_receipt {
    font-size: 12px;
  }
  .сourier {
    font-size: 13px;
  }

  .сourier_cost {
    font-size: 12px;
    padding-left: 150px;
  }

  .сourier_cost_over {
    font-size: 11px;
  }

  .orders_over {
    font-size: 11px;
  }

  .annotation {
    width: 980px;
  }

  .annotation_name {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bolder;
  }

  .annotation_report {
    font-size: 12px;
    opacity: 0.3;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .recommendations {
    width: 900px;
    margin-left: 45px;
  }

  .slider_name {
    font-size: 24px;
  }

  .slider_book {
    margin: 0 40px;
    width: 150px !important;
    height: 420px;
    padding-top: 45px;
  }

  .slider_book:hover {
    transform: scale(1.2);
  }

  .slider_card_settings {
    margin-bottom: 5px;
  }

  .slider_card_info {
    font-size: 13px;
  }

  .slider_price {
    padding-top: 3px;
  }

  .slider_book_author {
    font-size: 12px;
  }

  .slider_book_name {
    width: 150px;
    font-size: 15px;
  }

  .slick-prev,
  .slick-next {
    height: 380px;
    z-index: 2;
    width: 35px;
    border-radius: 10px;
  }

  .slick-arrow:before {
    font-size: 26px;
  }

  .slick-prev:hover,
  .slick-next:hover {
    height: 380px;
  }

  .reviews {
    bottom: 500px;
    font-size: 40px;
    width: 940px;
    margin: 0 auto;
  }

  .comment_generate {
    height: 570px;
  }

  .reviews_count {
    font-size: 26px;
  }

  .recall_button {
    width: 920px;
    height: 50px;

    font-size: 20px;
  }

  .close_write_box {
    position: absolute;
    left: 900px;
    top: 40px;
  }

  .write_review_name {
    bottom: 10px;
    padding: 20px 0 20px 20px;
  }

  .writer_review_name {
    font-size: 20px;
    padding-right: 31px;
  }

  .write_name_input {
    width: 250px;
    height: 30px;
  }

  .text_title {
    bottom: 10px;
    padding: 20px 0 20px 20px;
  }

  .text_title_name {
    font-size: 20px;
    padding-right: 122px;
  }

  .text_title_input {
    width: 650px;
    height: 30px;
  }

  .comment {
    bottom: 10px;
    padding: 20px 0 20px 20px;
  }

  .comment_name {
    font-size: 20px;
    bottom: 165px;
    padding-right: 91px;
  }

  .comment_name_area {
    width: 650px;
    height: 300px;
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
  }

  .total_characters {
    bottom: 45px;
    font-size: 15px;
    padding-right: 25px;
  }

  .input_check {
    font-size: 24px;
    margin-left: 20px;
    bottom: 10px;
  }

  .submit_button {
    bottom: 35px;
    width: 200px;
    height: 30px;
    margin: 5px 20px;
    font-size: 14px;
  }

  .recall_box {
    margin: 20px 0;
    width: 920px;
    padding-bottom: -100px;
  }

  .reacall_box_delete {
    left: 860px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: -40px;
  }

  .recall_box_time {
    bottom: 0px;
    font-size: 14px;
    opacity: 0.4;
    padding: 15px 0 0 20px;
  }

  .recal_comment_topic {
    font-size: 18px;
    padding: 20px 20px 10px 20px;
    bottom: 0px;
  }

  .recall_box_text {
    width: 300px;
    bottom: 0px;
    width: 875px;
    font-size: 16px;
    margin: 10px 20px 10px 20px;
  }

  .recall_box_area {
    width: 300px;
    height: 300px;
    bottom: 0px;
    width: 875px;
    font-size: 16px;
    margin: 10px 20px 10px 20px;
  }

  .recal_writer_name {
    font-size: 14px;
    bottom: 20px;
    padding-right: 25px;
  }

  .edit_recall button {
    z-index: 1;
    left: 20px;
    bottom: 5px;
  }
}

@media (max-width: 768px) {
  .book_page_container {
    width: 768px;
  }
  .book_description {
    left: 460px;
    bottom: 525px;

    width: 0px;
    height: 120px;
  }

  .trade_container {
    left: 470px;
    bottom: 500px;
    width: 250px;
    height: 170px;
  }

  .delivery {
    left: 470px;
    bottom: 480px;
    width: 245px;
    height: 200px;
  }

  .annotation {
    width: 740px;
  }

  .recommendations {
    width: 680px;
    height: 400px;
    margin-left: 35px;
  }

  .slider_name {
    font-size: 20px;
  }

  .slider_book {
    margin: 0 40px;
    width: 100px !important;
    height: 340px;
    padding-top: 45px;
  }

  .slider_card_info {
    font-size: 11px;
  }

  .slider_img {
    width: 100px;
    height: 200px;
  }

  .slider_price {
    padding-top: 3px;
  }

  .slider_book_author {
    font-size: 9px;
  }

  .slider_book_name {
    width: 100px;
    font-size: 10px;
  }

  .slick-prev,
  .slick-next {
    height: 300px;
    width: 30px;
    border-radius: 10px;
  }

  .slick-arrow:before {
    font-size: 20px;
  }

  .slick-prev:hover,
  .slick-next:hover {
    height: 300px;
  }

  .reviews {
    width: 720px;
    margin: 0 15px;
  }

  .comment_generate {
    height: 570px;
  }

  .reviews_count {
    font-size: 24px;
  }

  .recall_button {
    width: 720px;
  }

  .close_write_box {
    left: 675px;
  }

  .write_review_name {
    bottom: 10px;
    padding: 20px 0 20px 20px;
  }

  .writer_review_name {
    font-size: 18px;
    padding-right: 31px;
  }

  .write_name_input {
    width: 240px;
    height: 25px;
  }

  .text_title {
    bottom: 10px;
    padding: 20px 0 20px 20px;
  }

  .text_title_name {
    font-size: 18px;
    padding-right: 113px;
  }

  .text_title_input {
    width: 450px;
    height: 25px;
  }

  .comment {
    bottom: 10px;
    padding: 20px 0 20px 20px;
  }

  .comment_name {
    font-size: 18px;
    bottom: 165px;
    padding-right: 86px;
  }

  .comment_name_area {
    width: 450px;
    height: 300px;
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
  }

  .total_characters {
    position: relative;
    left: 0px;
    bottom: 35px;
    font-size: 15px;
    padding-right: 25px
  }

  .input_check {
    font-size: 22px;
    margin-left: 20px;
    bottom: 10px;
  }

  .submit_button {
    bottom: 25px;
    width: 180px;
    height: 30px;
    font-size: 13px;
  }

  .recall_box {
    width: 720px;
  }

  .recall_box_text {
    width: 675px;
  }

  .reacall_box_delete {
    left: 660px;
    margin-bottom: -40px;
  }

  .recall_box_area {
    width: 675px;
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .book_page_container {
    width: 320px;
    text-align: center;
  }

  .main_image {
    height: 340px;
    width: 220px;
    margin: auto;
  }

  .book_description {
    position: static;
    padding: auto;
    width: 250px;
    height: 100px;
  }

  .book_name {
    position: static;
    width: 250px;
    margin-left: 30px;
    font-size: 16px;
  }

  .book_author {
    position: static;
    width: 250px;
    font-size: 11px;
  }

  .book_description_container {
    display: inline-block;
  }

  .star {
    position: static;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
  }

  .book_rating {
    position: static;
    float: left;
    width: 20px;
    margin: 20px 0 0 5px;

    font-size: 12px;
  }

  .reviews_number {
    float: left;
    position: static;
    margin: 24px 0 0 0;
    font-size: 9px;
    width: 70px;
  }

  .rating_area {
    float: right;
    position: static;
    width: 260px;
    margin: -25px 0 0 0;
  }

  .rating_area:not(:checked) > label {
    width: 20px;
    font-size: 20px;
  }

  .trade_container {
    position: static;
    margin-left: 50px;
    width: 220px;
  }

  .delivery {
    position: static;
    margin-top: 20px;
    width: 260px;
    height: 150px;
  }

  .shipping_methods {
    font-size: 10px;
    padding-right: 17px;
  }

  .book_shop {
    padding-left: 46px;
    font-size: 10px;
  }

  .shipping_cost {
    font-size: 9px;
    font-weight: bold;
  }

  .delivery_date {
    font-size: 11px;
  }

  .place_receipt {
    padding-left: 45px;
    font-size: 10px;
  }

  .сourier {
    margin-left: 42px;
    font-size: 11px;
  }

  .сourier_cost {
    padding-left: 125px;
    font-size: 10px;
  }

  .сourier_cost_over {
    margin-left: -42px;
    font-size: 11px;
  }

  .annotation {
    position: static;
    margin-left: 10px;
    width: 280px;
    height: 100%;
    margin-bottom: 0;
  }

  .annotation_text {
    font-size: 11px;
  }

  .annotation_name {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bolder;
  }

  .annotation_report {
    font-size: 12px;
    opacity: 0.3;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .reviews {
    position: static;
    text-align: center;
    font-size: 40px;
    width: 260px;

    margin: 20px auto 20px auto;
  }

  .comment_generate {
    height: 570px;
  }

  .reviews_count {
    font-size: 26px;
  }

  .recall_button {
    width: 230px;
    height: 50px;

    font-size: 20px;
  }

  .close_write_box {
    position: relative;
    left: 0;
    top: 0;
    width: 50px;
    padding-top: 5px;
    padding-left: 220px;
    margin-bottom: -50px;
  }

  .write_review_name {
    width: 260px;
    padding: 0px 0 0 20px;
  }

  .writer_review_name {
    padding-left: 10px;

    font-size: 14px;
  }

  .write_name_input {
    margin-left: -20px;
    width: 240px;
    height: 30px;
  }

  .text_title {
    width: 260px;
    padding: 0;
  }

  .text_title_name {
    padding-left: 90px;
    font-size: 14px;
  }

  .text_title_input {
    width: 240px;
    height: 30px;
  }

  .comment {
    width: 260px;
    height: 300px;
    padding: 0;

    margin-bottom: -80px;
  }

  .comment_name {
    position: static;
    padding-left: 75px;
    font-size: 14px;
  }

  .comment_name_area {
    width: 240px;
    height: 250px;
    font-size: 14px;
    line-height: 1.5;
  }

  .total_characters {
    position: relative;
    bottom: -110px;
    left: 0;
    font-size: 12px;
    margin-top: -20px;
    padding-right: 25px;
  }

  .input_check {
    position: relative;
    top: 90px;
    left: 0;
    font-size: 20px;
    margin-left: 20px;
    bottom: 10px;
  }

  .submit_button {
    position: relative;
    top: 80px;
    left: 0;
    margin: 0;
  }

  .recall_box {
    margin: 20px 0;
    width: 260px;
    padding-bottom: -100px;
  }

  .reacall_box_delete {
    position: relative;
    left: 220px;
    text-align: right;
    width: 25px;
    margin-bottom: -40px;
    margin-right: 10px;
  }

  .recall_box_time {
    bottom: 0px;
    font-size: 11px;
    opacity: 0.4;
    padding: 15px 40px 0 0px;
  }

  .recal_comment_topic {
    text-align: left;
    font-size: 16px;
    padding: 10px 10px 10px 20px;
    bottom: 0px;
  }

  .recall_box_text {
    width: 300px;
    bottom: 0px;
    width: 230px;
    font-size: 14px;
    margin: 0 20px 10px 20px;
  }

  .recall_box_area {
    width: 300px;
    height: 300px;
    bottom: 0px;
    width: 230px;
    font-size: 14px;
    margin: 0 20px -10px 20px;
  }

  .recal_writer_name {
    font-size: 14px;
    bottom: 25px;
    padding-right: 25px;
  }

  .edit_recall button {
    z-index: 1;
    width: 100px;
    height: 30px;
    font-size: 11px;
    left: -60px;
    bottom: 5px;
  }
}
