.book-card-container {
  margin: 10vh auto 0 auto;
  padding: 0 2vw;

  width: 1280px;
  height: 100%;
  min-height: calc(100vh - 70px);
}

.book-card__upper-container {
  display: flex;
  position: relative;

  margin-bottom: 2vh;

  width: 100%;
  justify-content: space-between;
}

.book-card-main-image {
  position: relative;

  width: 30%;
  height: auto;

  object-fit: cover;

  box-shadow: 0px 0px 1.2vh grey;
}

.book-card__upped-container__trade-delivery {
  position: relative;
}

.book-card__lower-container {
  position: relative;
  width: 100%;
}

@media (width < 1025px) {
  .book-card-container {
    width: 1000px;
  }
}

@media (width < 775px) {
  .book-card-container {
    width: 768px;
  }
}

@media (width > 320px) and (width < 465px) {
  .book-card-container {
    width: 320px;
    text-align: center;
  }

  .book-card-main-image {
    height: 340px;
    width: 220px;
    margin: auto;
  }
}
