.category_list_container {
  text-align: center;
  max-width: 100%;
  min-width: 100%;
  min-height: calc(100vh - 70px);
}

.category_name {
  font-size: 24px;
  margin-bottom: 15px;
}

.category_card {
  display: inline-block;
  width: 200px;
  margin: 0 10px 50px 10px;
  text-align: left;
}

.category_card_settings {
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 10%);
  margin-bottom: 5px;
  height: 340px;

}

.category_card_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 16px;
  color: #ffd700;
  font-weight: bolder;
}

.category_card_author {
  font-size: 14px !important;
}

.category_card_name {
  display: flex;
  font-size: 16px !important;
  font-weight: bolder;
  word-wrap: break-word;
}
