hr {
  border: none;
  background-color: red;
  color: red;
  height: 2px;
}

/* ------------- cart ------------- */


.cart {
  text-align: center;
  min-height: calc(100vh - 60px);
}

.cart_container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.menu {
  margin: 100px auto 20px auto;
  width: 1200px;
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.remove_all_product {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.goods_quantity {
  font-weight: bolder;
  font-size: 18px;
}

.total_price {
  font-weight: bolder;
}

.products_delete {
  cursor: pointer;
  opacity: 0.4;
}

.empty_basket {
  margin: 100px;
  font-size: 24px;
  font-weight: bold;
}

/* ------------- product------------- */

.product {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  height: 270px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.product_info {
  position: relative;
  left: 80px;
  text-align: left;
}

.product_cart_name {
  width: 350px;
  font-size: 19px;
  font-weight: bolder;
  word-wrap: break-word;
}

.product_cart_author {
  font-size: 14px;
}

.product_counter {
  position: relative;
  left: 395px;
  bottom: 40px;
  display: flex;
  flex-direction: row;
}

.counter_minus,
.counter_number,
.counter_plus {
  width: 45px;
  height: 45px;
  color: rgb(120, 240, 204);
  font-weight: bold;
}
.counter_minus:hover,
.counter_plus:hover {
  background-color: rgb(155, 153, 153);
}

.counter_minus,
.counter_plus {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  border: solid 2px;
  cursor: pointer;
}

.counter_minus {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.counter_plus {
  padding-top: 4px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.counter_number {
  text-align: center;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding-top: 14px;
}
.product_cost {
  position: relative;
  left: 680px;
  width: 150px;
  bottom: 85px;
}

.product_price {
  font-size: 20px;

  font-weight: bold;
  margin-bottom: 10px;
}

.price_multiplication {
  font-size: 15px;
}

.remove_product {
  position: relative;
  left: 960px;
  bottom: 120px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.trash_icon {
  padding-right: 10px;
}

@media (max-width: 1000px) {
  .cart_container {
    width: 1000px;
  }

  .menu {
    margin: 100px auto 20px auto;
    width: 960px;
  }

  .remove_all_product {
    flex-direction: row;
  }

  .goods_quantity {
    font-size: 18px;
  }

  .products_delete {
    cursor: pointer;
    opacity: 0.4;
  }

  .empty_basket {
    margin: 100px;
    font-size: 24px;
  }

  .product {
    margin-bottom: 20px;
    flex-direction: row;
    margin-left: 10px;
    width: 1000px;
    height: 270px;
  }

  .product_info {
    position: relative;
    left: 40px;
    text-align: left;
  }

  .product_cart_name {
    width: 350px;
    font-size: 19px;
  }

  .product_cart_author {
    font-size: 14px;
  }

  .product_counter {
    position: relative;
    left: 350px;
    bottom: 40px;
    flex-direction: row;
  }

  .counter_minus,
  .counter_number,
  .counter_plus {
    width: 45px;
    height: 45px;
  }

  .counter_minus,
  .counter_plus {
    font-size: 16px;
  }

  .product_cost {
    left: 530px;
    bottom: 85px;
  }

  .product_price {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .price_multiplication {
    font-size: 15px;
  }

  .remove_product {
    left: 720px;
    bottom: 120px;
    flex-direction: row;
  }

  .trash_icon {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .cart_container {
    width: 768px;
  }

  .menu {
    margin: 100px auto 20px auto;
    width: 730px;
  }

  .remove_all_product {
    flex-direction: row;
  }

  .goods_quantity {
    font-size: 18px;
  }

  .products_delete {
    cursor: pointer;
    opacity: 0.4;
  }

  .empty_basket {
    margin: 100px;
    font-size: 24px;
  }

  .product {
    margin-bottom: 20px;
    flex-direction: row;
    margin-left: 10px;
    width: 730px;
    height: 270px;
  }

  .product_info {
    position: relative;
    width: 280px;
    height: 100px;
    left: 20px;
    text-align: left;
  }

  .product_cart_name {
    width: 280px;
    font-size: 19px;
  }

  .product_cart_author {
    font-size: 14px;
  }

  .product_counter {
    position: relative;
    left: 20px;
    bottom: -130px;
    flex-direction: row;
  }

  .counter_minus,
  .counter_number,
  .counter_plus {
    width: 45px;
    height: 45px;
  }

  .counter_minus,
  .counter_plus {
    font-size: 16px;
  }

  .product_cost {
    left: 400px;
    bottom: -80px;
  }

  .product_price {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .price_multiplication {
    font-size: 15px;
  }

  .remove_product {
    left: 440px;
    bottom: 125px;
    flex-direction: row;
  }

  .trash_icon {
    padding-right: 10px;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .cart_container {
    width: 320px;
  }

  .menu {
    margin: 100px auto 20px auto;
    width: 290px;
  }

  .remove_all_product {
    font-size: 10px;
    flex-direction: row;
  }

  .total_price {
    font-size: 10px;
    font-weight: bolder;
  }

  .goods_quantity {
    font-size: 12px;
  }

  .product_cart_img {
    width: 100px;
    height: 150px;
    z-index: 0;
  }

  .products_delete {
    cursor: pointer;
    opacity: 0.4;
    z-index: 10;
  }

  .empty_basket {
    margin: 100px;
    font-size: 20px;
  }

  .product {
    margin-bottom: 20px;
    flex-direction: row;
    margin-left: 10px;
    width: 290px;
    height: 198px;
  }

  .product_info {
    position: relative;
    width: 175px;
    height: 100px;
    left: 20px;
    text-align: left;
  }

  .product_cart_name {
    width: 175px;
    font-size: 15px;
  }

  .product_cart_author {
    font-size: 12px;
  }

  .product_counter {
    position: relative;
    left: 40px;
    bottom: -101px;
    flex-direction: row;
  }

  .counter_minus,
  .counter_number,
  .counter_plus {
    width: 45px;
    height: 45px;
  }

  .counter_minus,
  .counter_plus {
    font-size: 16px;
  }

  .product_cost {
    left: 35px;
    bottom: 20px;
  }

  .product_price {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .price_multiplication {
    font-size: 13px;
  }

  .remove_product {
    left: -90px;
    bottom: -40px;
    flex-direction: row;
  }

  .trash_icon {
    padding-right: 3px;
  }
}
