
.recall_box {
  border: 2px solid;
  border-radius: 12px;
  margin: 20px auto;
  width: 99%;
  padding-bottom: -100px;
}

.reacall_box_delete {
  position: relative;
  top: 5px;
  width: 40px;
  left: 1220px;
  z-index: 1;
  cursor: pointer;
}

.recall_box_time {
  position: relative;
  bottom: 40px;
  font-size: 14px;
  opacity: 0.4;
  font-weight: b;
  padding: 15px 0 0 20px;
  z-index: 0;
}
.recal_comment_topic {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 20px 10px 20px;
  bottom: 40px;
}

.recall_box_text {
  position: relative;
  width: 300px;
  bottom: 40px;
  width: 1225px;
  text-align: left;
  font-size: 16px;
  margin: 10px 20px 10px 20px;
  white-space: pre-line;
}

.recall_box_area {
  position: relative;
  width: 300px;
  height: 300px;
  bottom: 40px;
  width: 1225px;
  text-align: left;
  font-size: 16px;
  overflow-x: hidden;
  margin: 10px 20px 10px 20px;
  resize: none;
}

.recal_writer_name {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  bottom: 50px;
  padding-right: 25px;
  z-index: 0;
}

.edit_recall button {
  position: relative;
  z-index: 1;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}

@media (max-width: 1000px) {

  .recall_box {
    margin: 20px 0;
    width: 920px;
    padding-bottom: -100px;
  }

  .reacall_box_delete {
    left: 860px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: -40px;
  }

  .recall_box_time {
    bottom: 0px;
    font-size: 14px;
    opacity: 0.4;
    padding: 15px 0 0 20px;
  }

  .recal_comment_topic {
    font-size: 18px;
    padding: 20px 20px 10px 20px;
    bottom: 0px;
  }

  .recall_box_text {
    width: 300px;
    bottom: 0px;
    width: 875px;
    font-size: 16px;
    margin: 10px 20px 10px 20px;
  }

  .recall_box_area {
    width: 300px;
    height: 300px;
    bottom: 0px;
    width: 875px;
    font-size: 16px;
    margin: 10px 20px 10px 20px;
  }

  .recal_writer_name {
    font-size: 14px;
    bottom: 20px;
    padding-right: 25px;
  }

  .edit_recall button {
    z-index: 1;
    left: 20px;
    bottom: 5px;
  }

  @media (max-width: 768px) {



    .recall_box {
      width: 720px;
    }

    .recall_box_text {
      width: 675px;
    }

    .reacall_box_delete {
      left: 660px;
      margin-bottom: -40px;
    }

    .recall_box_area {
      width: 675px;
      font-size: 16px;
    }

    @media (min-width: 320px) and (max-width: 460px) {

      .recall_box {
        margin: 20px 0;
        width: 260px;
        padding-bottom: -100px;
      }

      .reacall_box_delete {
        position: relative;
        left: 220px;
        text-align: right;
        width: 25px;
        margin-bottom: -40px;
        margin-right: 10px;
      }

      .recall_box_time {
        bottom: 0px;
        font-size: 11px;
        opacity: 0.4;
        padding: 15px 40px 0 0px;
      }

      .recal_comment_topic {
        text-align: left;
        font-size: 16px;
        padding: 10px 10px 10px 20px;
        bottom: 0px;
      }

      .recall_box_text {
        width: 300px;
        bottom: 0px;
        width: 230px;
        font-size: 14px;
        margin: 0 20px 10px 20px;
      }

      .recall_box_area {
        width: 300px;
        height: 300px;
        bottom: 0px;
        width: 230px;
        font-size: 14px;
        margin: 0 20px -10px 20px;
      }

      .recal_writer_name {
        font-size: 14px;
        bottom: 25px;
        padding-right: 25px;
      }

      .edit_recall button {
        z-index: 1;
        width: 100px;
        height: 30px;
        font-size: 11px;
        left: -60px;
        bottom: 5px;
      }
    }
  }
}
