.book-card__delivery-container {
  position: relative;

  margin-top: 2vh;

  width: 100%;
  height: 30%;
}

.book-card__delivery-container__shipping-methods {
  padding-bottom: 14px;

  font-size: 16px;
  font-weight: 600;
}

.book-card__delivery-container__shops-place {
  color: rgb(34, 145, 209);

  cursor: pointer;
}

.book-card__delivery-container__shops {
  position: relative;

  margin-bottom: 1vh;
}

.book-card__delivery-container__shops-place {
  padding-bottom: 15px;

  font-size: 14px;
}

.book-card__delivery-container__shops-cost {
  position: absolute;

  right: 0;

  font-weight: bold;
}

.book-card__delivery-container__shops-date {
  font-size: 12px;
}

.book-card__delivery-container__place-of-receipt {
  font-size: 15px;
  padding-bottom: 15px;
}

.book-card__delivery-container__shops-over {
  font-size: 12px;
  color: red;
}

.book-card__delivery-container__shops-orders {
  font-size: 12px;
}

@media (width < 1025px) {
  .book-car__delivery-container {
    height: 200px;
  }

  .book-car__delivery-container__shipping-methods {
    font-size: 12px;
  }

  .book-card__delivery-container__shops {
    font-size: 12px;
  }

  .book-card__delivery-container__shops-cost {
    font-weight: bold;
  }

  .book-card__delivery-container__shops-cost-date {
    font-size: 10px;
  }

  .book-card__delivery-container__place-of-receipt {
    font-size: 10px;
  }
  .book-card__delivery-container__сourier {
    font-size: 12px;
  }

  .book-card__delivery-container__сourier-cost {
    font-size: 12px;
    padding-left: 150px;
  }

  .book-card__delivery-container__сourier-over {
    font-size: 11px;
  }

  .book-card__delivery-container__сourier-orders {
    font-size: 11px;
  }
}

@media (width < 775px) {
  .book-car__delivery-container {
    width: 245px;
    height: 200px;
  }
}

@media (width > 320px) and (width < 465px) {
  .book-car__delivery-container {
    position: static;
    margin-top: 20px;
    width: 260px;
    height: 150px;
  }

  .book-car__delivery-container__shipping-methods {
    font-size: 10px;
    padding-right: 17px;
  }

  .book-card__delivery-container__shops {
    padding-left: 46px;
    font-size: 10px;
  }

  .book-card__delivery-container__shops-cost {
    font-size: 9px;
    font-weight: bold;
  }

  .book-card__delivery-container__shops-cost-date {
    font-size: 11px;
  }

  .book-card__delivery-container__place-of-receipt {
    padding-left: 45px;
    font-size: 10px;
  }

  .book-card__delivery-container__сourier {
    margin-left: 42px;
    font-size: 11px;
  }

  .book-card__delivery-container__сourier-cost {
    padding-left: 125px;
    font-size: 10px;
  }

  .book-card__delivery-container__сourier-over {
    margin-left: -42px;
    font-size: 11px;
  }
}
