html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  scrollbar-width: thin;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px auto;

  border: 0;
  background-color: #ffffff;
}

.menu {
  height: 70px;
  margin-bottom: 20px;

  font-weight: bolder;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(120, 240, 204);
}

.active {
  color: blue;
  cursor: default;
}

.webName {
  font-size: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.choice {
  font-size: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.sorting {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.categories {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sorting div {
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.categories div {
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.categories div:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.dropdown:hover .categories {
  display: block;
}

.sorting div:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.dropdown:hover .sorting {
  display: block;
}

.booksContainer {
  text-align: center;
  max-width: 100%;
  min-width: 100%;
}

.categoryName {
  font-size: 24px;
  margin-bottom: 15px;
}

.book0 {
  display: inline-block;
  width: 200px;
  margin: 0 10px 50px 10px;
  text-align: left;
}

.imageSettings {
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 10%);
  margin-bottom: 5px;
  height: 340px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 16px;
  color: #ffd700;
  font-weight: bolder;
}

.author {
  font-size: 14px !important;
}

.bookName {
  display: flex;
  font-size: 16px !important;
  font-weight: bolder;
  word-wrap: break-word;
}

.BookPageContainer {
  border: 5px solid;
  margin-left: auto;
  margin-right: auto;

  width: 1280px;
  height: 100%;
}

.mainImage {
  height: 600px;

  image-rendering: auto;
  margin: 20px;
}

.bookDescription {
  position: relative;
  left: 450px;
  bottom: 625px;

  width: 723px;
  height: 120px;
}

.nameBook {
  left: 20px;
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
}

.bookAuthor {
  font-weight: normal;
  font-size: 18px;
}

.Bookrating {
  position: absolute;
  color: #000000;
  font-size: 20px;
  display: flex;
  top: 90px;
  left: 47px;
}

.ratingContainer {
  position: absolute;
  top: 90px;
}

.star {
  bottom: 50px;
  font-size: 33px;
  color: #ffd700;
  position: absolute;
  top: 73px;
  left: 17px;
}

.numberOfReviews {
  position: absolute;
  font-size: 14px;
  width: 120px;
  top: 95px;
  left: 110px;
}

.rating-area {
  overflow: hidden;
  width: 265px;
  position: absolute;
  top: 80px;
  left: 140px;
  margin: 0 auto;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  float: right;
  width: 35px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: '★';
}

.rating-area > input:checked ~ label {
  color: #ffd700;
  text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}

.tradeContainer {
  text-align: center;
  background-color: rgb(120, 240, 204, 0.3);

  position: relative;
  left: 950px;
  bottom: 745px;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}

.bookPrice {
  margin: 0 0 0 20px;
  display: flex;
  padding-top: 45px;
  padding-left: 10px;

  font-size: 25px;
  font-weight: bolder;
}

.availability {
  padding-top: 12px;
  padding-left: 95px;

  font-size: 14px;
  font-weight: normal;
}

.buyBook button {
  background-color: rgb(120, 240, 204);
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}

.bookmarks button {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 40px;
  margin: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
}

.delivery {
  position: relative;
  left: 955px;
  bottom: 730px;
  width: 300px;
  height: 200px;
}

.shippingMethods {
  font-size: 13px;
  padding-bottom: 15px;
}

.cityName {
  color: rgb(34, 145, 209);
  cursor: pointer;
}

.shippingCost {
  font-weight: bold;
  padding-left: 40px;
}

.deliveryDate {
  font-size: 12px;
}

.shippingCost2 {
  font-weight: bold;
  padding-left: 37px;
}

.bookShop {
  font-size: 15px;
  padding-bottom: 15px;
}

.placeReceipt {
  font-size: 15px;
  padding-bottom: 15px;
}

.сourierCost {
  font-weight: bold;
  padding-left: 176px;
}

.сourierCostOver {
  font-size: 12px;
  color: red;
}

.ordersOver {
  font-size: 12px;
}

.annotation {
  position: relative;
  bottom: 0;
  max-height: 460px;
  width: 1100px;
  top: -500px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 15px;
}

.annotationName {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.annotationReport {
  font-size: 12px;
  opacity: 0.3;
  font-weight: bolder;
  margin-bottom: 20px;
}

.thisSectionBooks {
  position: relative;
  top: -500px;
  margin: auto;

  width: 1200px;
  height: 500px;
}

.miniBook {
  margin: 0 40px;
  width: 150px !important;
  height: 420px;
  text-align: left;
  padding-top: 45px;
  cursor: pointer;
}

.miniBook:hover {
  transform: scale(1.2);
}

.miniImageSettings {
  background-color: #fff;
  box-shadow: 0 2px 13px rgb(0 0 0 / 30%), 0 5px 10px rgb(0 0 0 / 20%);
  margin-bottom: 5px;
  height: 270px;
  width: 150px;
  pointer-events: none;
}

.miniInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 13px;
  color: #ffd900;
  font-weight: bolder;
}

.miniAuthor {
  font-size: 12px;
}

.miniBookName {
  display: flex;
  width: 150px;
  font-size: 15px;
  font-weight: bolder;
  word-wrap: break-word;
}

.price {
  padding-top: 3px;
}

.slick-prev,
.slick-next {
  height: 380px;
  z-index: 289;
  width: 35px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.slick-arrow:before{
  font-size: 26px;
  color: rgb(0, 0, 0);
}

.slick-prev:hover,
.slick-next:hover {
  height: 380px;
  background-color: rgb(120, 240, 204);
}

.sliderName {
  color: rgb(120, 240, 204);
  font-size: 24px;
  cursor: pointer;
}

.viewedBooks {
  padding-top:500px;
}
