.book-card__info-container {
  position: relative;

  margin: 0 2vw;

  width: auto;
}

.book-card__info-container__title {
  width: 100%;

  font-weight: bolder;
  font-size: 30px;
}

.book-card__info-container__title-author {
  font-weight: normal;
  font-size: 18px;
}

.book-card__info-container__description {
  display: flex;
  position: relative;

  margin-top: 2vh;

  width: 100%;
  height: auto;
}

.book-card__info-container__description__block {
  display: flex;

  font-size: 24px;
}

.book-card__info-container__description-star {
  margin: 0 0.1vw;
  color: #ffd700;
}

.book-card__info-container__description-rating {
  display: flex;

  align-items: end;
  align-content: bottom;

  font-weight: bold;
  color: #000000;
}

.book-card__info-container__description-reviews {
  display: flex;

  margin: 0 1vw;

  width: 100%;

  align-items: end;
  align-content: bottom;

  font-size: 16px;
}

@media (width < 1025px) {
  .book-card__info-container {
    width: 320px;
    height: 120px;
  }

  .book-card__info-container__title {
    font-size: 20px;
  }
}

@media (width > 320px) and (width < 465px) {
  .book-card__info-container {
    margin: 0 auto;
    width: 60%;
  }

  .book-card__info-container__title {
    font-size: 16px;
  }

  .book-card__info-container__title-author {
    font-size: 12px;
  }

  .book-card__info-container__description-rating {
    font-size: 20px;
  }

  .book-card__info-container__description-reviews {
    font-size: 14px;
  }
}
