.book-card-comment-form-container {
  position: relative;
  margin-bottom: 2vh;

  width: 100%;
  font-size: 40px;
}

.book-card-comment-form-container-open {
  width: 100%;
  height: 50px;

  font-size: 20px;

  border-radius: 15px;
  border: 3px solid rgb(0, 0, 0);

  background-color: rgb(120, 240, 204);
  cursor: pointer;
}

.book-card-comment-form-container-open:active {
  border: 3px solid rgb(0, 0, 0);

  color: white;
}

.book-card-comment-form-container__form {
  position: relative;
  height: 100%;

  border-radius: 15px;

  background-color: rgb(120, 240, 204);
}

.book-card-comment-form-container-close {
  position: absolute;

  right: 20px;
  top: 15px;

  cursor: pointer;
  z-index: 1;
}

.book-card-comment-form-container__form__user-info,
.book-card-comment-form-container__form__caption,
.book-card-comment-form-container__form__text {
  position: relative;

  padding: 1vh 1vw;
  font-size: 20px;
}

.book-card-comment-form-container__form__user-info-input,
.book-card-comment-form-container__form__caption-input {
  position: absolute;

  padding: 0 10px;

  width: 60%;
  height: 30px;

  left: calc(160px + 100 * (100vw / 1920));

  font-size: 20px;

  border-radius: 5px;
  border: 1px solid;

  color: black;
}

.book-card-comment-form-container__form__text-textarea {
  margin: 1vh 0 4vh 0;
  padding: 10px;

  width: 100%;
  height: 300px;

  font-size: 20px;

  border-radius: 5px;
  border: 1px solid;

  resize: none;
}

.book-card-comment-form-container__form-total-characters {
  position: absolute;

  right: 1vw;
  bottom: 1vh;

  font-size: 16px;

  text-align: right;
  z-index: 0;
}

.book-card-comment-form-container__form-validation {
  position: absolute;

  left: 1vw;
  bottom: 1vh;

  font-size: 24px;
  color: red;
}

.book-card-comment-form-container__form-submit-button {
  position: absolute;

  width: 200px;
  height: 30px;

  left: 1vw;
  bottom: 1vh;

  border-radius: 5px;

  color: black;
  background-color: rgb(255, 255, 255);

  cursor: pointer;
}

.book-card-comment-form-container__form-submit-button:active {
  border: 3px solid rgb(0, 0, 0);

  color: rgb(255, 255, 255);
  background-color: black;
}

@media (width < 775px) {
  .book-card-comment-form-container-count {
    font-size: 24px;
  }

  .book-card-comment-form-container__form__user-info-label,
  .book-card-comment-form-container__form__caption-label,
  .book-card-comment-form-container__form__text-label {
    font-size: 18px;
  }

  .book-card-comment-form-container__form__user-info-input,
  .book-card-comment-form-container__form__caption-input,
  .book-card-comment-form-container__form__text-textarea {
    font-size: 16px;
  }

  .book-card-comment-form-container__form__text-textarea {
    height: 300px;
  }
}

@media (width > 320px) and (width < 465px) {
  .book-card-comment-form-container {
    margin: 4vh 0 2vh 0;
    text-align: left;
  }

  .book-card-comment-form-container-close {
    right: 10px;
    top: 5px;

    font-size: 3vh;
  }

  .book-card-comment-form-container__form__user-info-label,
  .book-card-comment-form-container__form__caption-label,
  .book-card-comment-form-container__form__text-label {
    font-size: 12px;
  }

  .book-card-comment-form-container__form__user-info-input,
  .book-card-comment-form-container__form__caption-input {
    width: 40%;

    left: 38vw;
    font-size: 12px;
  }

  .book-card-comment-form-container__form__text-textarea {
    height: 250px;
    font-size: 12px;
  }

  .book-card-comment-form-container__form-validation {
    font-size: 16px;
  }

  .book-card-comment-form-container__form-total-characters {
    font-size: 12px;
  }

  .book-card-comment-form-container__form-submit-button {
    width: 120px;
  }
}
